@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
@custom-variant hover (&:is(:hover, .hover *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@base {
  * {
    @apply 'border-white';
  }
  body {
    @apply bg-gray-200;
  }
}
